@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.texto{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 60px;
    position: fixed;
    display: block;
    top: 50%;
    left: 40.4%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    white-space: nowrap; 
    width: 0px; 
    overflow: hidden;
    transition: 0.7s ;
    text-overflow: clip; 
    user-select: none;
    z-index: 3;

}
.texto_toggle{
    white-space: nowrap; 
    width: 500px; 
    overflow: hidden;
    text-overflow: clip;
    z-index: 3;
    
}

.texto_bio{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: white;
    font-size: 18px;
    position: relative;
    bottom: 60px;
    user-select: none;
}

.img_back {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    object-fit: none;
    object-position: 0% 50%;
    opacity: .5;
    transition: 1s ;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 2;

}
.img_back:hover {
    opacity: 1;
    object-position: 30% 50%;
}
.img_back_open{
    opacity: 1;
    left: 25%;
    width: 520px;
    height: 520px;
    object-position: 50% 50%;
    z-index: 2;
}
.bloco{
    z-index: -2;
    background-color: black;
    opacity: 0;
    transition: 1s;
    position: fixed;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bloco_fade{
    z-index: 1;
    opacity: 0.7;
    
}

/*--------------------------------------------------------------------------------------*/
.inmersive_title{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
}
li{
    display: inline-block;
}
